* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #10131c, #24243a);

    color: white;
}

.container {
    width: 100%;
    padding: 20px;
}

.stopwatch-card {
    width: 100%;
    max-width: 550px;

    margin: auto;
    padding: 45px 30px;

    text-align: center;

    background: rgba(255, 255, 255, 0.08);

    border: 1px solid rgba(255, 255, 255, 0.15);

    border-radius: 25px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);

    backdrop-filter: blur(15px);
}

h1 {
    font-size: 32px;
    letter-spacing: 5px;
    margin-bottom: 35px;
}

.time-display {
    font-size: 58px;
    font-weight: bold;
    letter-spacing: 3px;

    margin-bottom: 40px;

    font-variant-numeric: tabular-nums;
}

.milliseconds {
    font-size: 35px;
    opacity: 0.8;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    max-width: 400px;
    margin: auto;
}

button {
    border: none;
    padding: 14px 20px;

    border-radius: 12px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s ease;
}

button:hover {
    transform: translateY(-3px);
    filter: brightness(1.15);
}

button:active {
    transform: scale(0.96);
}

.start {
    background: #35c978;
    color: white;
}

.pause {
    background: #f4a62a;
    color: white;
}

.lap {
    background: #4285f4;
    color: white;
}

.reset {
    background: #e74c5b;
    color: white;
}

.laps-container {
    margin-top: 40px;
    text-align: left;
}

.laps-container h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}

#lapList {
    list-style: none;

    max-height: 220px;
    overflow-y: auto;
}

#lapList li {
    display: flex;
    justify-content: space-between;

    padding: 12px 15px;

    margin-bottom: 8px;

    background: rgba(255, 255, 255, 0.08);

    border-radius: 10px;

    font-size: 15px;
}

/* Mobile */

@media (max-width: 500px) {

    .stopwatch-card {
        padding: 35px 18px;
    }

    h1 {
        font-size: 25px;
        letter-spacing: 4px;
    }

    .time-display {
        font-size: 40px;
        letter-spacing: 1px;
    }

    .milliseconds {
        font-size: 25px;
    }

    button {
        padding: 13px 10px;
        font-size: 14px;
    }
}